p{
    color:black;
    
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:red;
    background-color: green;
    font-size: 40px;
    
    
}
body{
    background-color: white;
    height: 100px;
}


